Tcc/Test/Marfrig.Integration.Test/Service References/IntegrationService/IntegrationService6.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="urn:Marfrig.Integration.ServiceInterfaces" elementFormDefault="qualified" targetNamespace="urn:Marfrig.Integration.ServiceInterfaces" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://kelvin-notebook:8089/IntegrationService/IntegrationService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Marfrig.Integration.ServiceInterfaces.MessageContracts" />
  <xs:element name="ReceiveOrderTracking">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Marfrig.Integration.ServiceInterfaces.MessageContracts" minOccurs="0" name="request" nillable="true" type="q1:OrderTrackingRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReceiveOrderTrackingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Marfrig.Integration.ServiceInterfaces.MessageContracts" minOccurs="0" name="ReceiveOrderTrackingResult" nillable="true" type="q2:OrderTrackingResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TestMethod">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TestMethodResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TestMethodResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>