Tcc/Test/Marfrig.Integration.Test/Service References/IntegrationService/IntegrationService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/Marfrig.Framework.Patterns.RequestResponse" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Marfrig.Framework.Patterns.RequestResponse" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://kelvin-notebook:8089/IntegrationService/IntegrationService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="RequestContractBase">
    <xs:sequence>
      <xs:element minOccurs="0" name="Credentials" nillable="true" type="tns:Credentials" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RequestContractBase" nillable="true" type="tns:RequestContractBase" />
  <xs:complexType name="Credentials">
    <xs:sequence>
      <xs:element minOccurs="0" name="AuthToken" type="ser:guid" />
      <xs:element minOccurs="0" name="RequesterIP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RequesterSystem" nillable="true" type="tns:RequesterSystem" />
      <xs:element minOccurs="0" name="RequesterUser" nillable="true" type="tns:RequesterUser" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Credentials" nillable="true" type="tns:Credentials" />
  <xs:complexType name="RequesterSystem">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RequesterSystem" nillable="true" type="tns:RequesterSystem" />
  <xs:complexType name="RequesterUser">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RequesterUser" nillable="true" type="tns:RequesterUser" />
  <xs:complexType name="ResponseContractBase">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="ResponseContractBase" nillable="true" type="tns:ResponseContractBase" />
  <xs:complexType name="FaultBase">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Source" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FaultBase" nillable="true" type="tns:FaultBase" />
</xs:schema>