Tcc/Test/Marfrig.Integration.Test/Service References/IntegrationService/IntegrationService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Marfrig.Framework.BusinessEntities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Marfrig.Framework.BusinessEntities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://kelvin-notebook:8089/IntegrationService/IntegrationService.svc?xsd=xsd6" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="BusinessEntityBaseOfOrderTrackingW5JXwJlJ">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="BusinessEntityBaseOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Marfrig.Framework.BusinessEntities" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="OrderTracking" Namespace="http://schemas.datacontract.org/2004/07/Marfrig.Order.BusinessEntities" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BusinessEntityBase">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BusinessEntityBaseOfOrderTrackingW5JXwJlJ" nillable="true" type="tns:BusinessEntityBaseOfOrderTrackingW5JXwJlJ" />
  <xs:complexType name="BusinessEntityBase">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" name="extendedProperties" nillable="true" type="q1:ArrayOfKeyValueOfanyTypeanyType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BusinessEntityBase" nillable="true" type="tns:BusinessEntityBase" />
</xs:schema>