Tcc/Test/Marfrig.Integration.Test/Service References/IntegrationService/IntegrationService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Marfrig.Order.BusinessEntities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Marfrig.Order.BusinessEntities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://kelvin-notebook:8089/IntegrationService/IntegrationService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Marfrig.Framework.BusinessEntities" />
  <xs:complexType name="ArrayOfOrderTracking">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OrderTracking" nillable="true" type="tns:OrderTracking" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOrderTracking" nillable="true" type="tns:ArrayOfOrderTracking" />
  <xs:complexType name="OrderTracking">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/Marfrig.Framework.BusinessEntities" base="q1:BusinessEntityBaseOfOrderTrackingW5JXwJlJ">
        <xs:sequence>
          <xs:element minOccurs="0" name="Id" type="xs:int" />
          <xs:element minOccurs="0" name="OrderId" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="OrderTracking" nillable="true" type="tns:OrderTracking" />
</xs:schema>