Tcc/Test/Marfrig.Integration.Test/Service References/AuthService/AuthService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Marfrig.Auth.ServiceInterfaces.MessageContracts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Marfrig.Auth.ServiceInterfaces.MessageContracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://kelvin-notebook:8089/AuthService/AuthService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Marfrig.Auth.BusinessEntities" />
  <xs:complexType name="AuthenticateRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="IPAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AuthenticateRequest" nillable="true" type="tns:AuthenticateRequest" />
  <xs:complexType name="AuthenticateResponse">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Marfrig.Auth.BusinessEntities" minOccurs="0" name="Result" nillable="true" type="q1:AuthenticationResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AuthenticateResponse" nillable="true" type="tns:AuthenticateResponse" />
</xs:schema>